.title{
    font-size: 150px;
    margin-left: 10%;
}

.Video{
    height: auto;
    width: 25%;
    margin-left: 10%;
}

.videoDownloadLink{
    font-size: 100px;
    margin-left: 10%;
}
